<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" id="WebApp_ID" version="3.0">
  <display-name>Aapdah</display-name>
  <servlet>
    <servlet-name>RetrieveSqlDataServelet</servlet-name>
    <servlet-class>com.dhanya.jsp.RetrieveSqlDataServelet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RetrieveSqlDataServelet</servlet-name>
    <url-pattern>/RetrieveSqlDataServeletPath</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>AutoCompleteCrimeTypeServlet</servlet-name>
    <servlet-class>com.dhanya.jsp.AutoCompleteCrimeTypeServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AutoCompleteCrimeTypeServlet</servlet-name>
    <url-pattern>/AutoCompleteCrimeTypeServletPath</url-pattern>
  </servlet-mapping>
  
</web-app>